  <div title="Sign-in" class="panel" id="main">
    <header>
      <h1>Sign-in</h1>
      <%= link_to 'Home', root_path, class: 'button icon home', style: 'float:left', data: {'refresh-ajax'=> true, ignore: true} %>
    </header>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset>
          <div><%= f.label :login %><br />
            <%= f.text_field :login, class: 'jq-ui-forms' %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password, class: 'jq-ui-forms' %></div>

          <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me, class: 'jq-ui-forms' %> <%= f.label :remember_me %></div>
          <% end -%>
          <p>
          <div><%= f.submit "Sign in", class: 'button' %></div>
          </p>
    <% end %>
    </fieldset>
  </div>
<%#= render "devise/shared/links" %>


