<div id="todo-list swipedelete">
<%= link_to content_tag(:span, t('.show_all'), class: "a-menu"), {action: :index, todo_list_cond: :all}%>
  <%= "(#{@size_all})" %>&nbsp;&nbsp;
<%= link_to content_tag(:span, '', class: "ui-icon ui-icon-flag") + content_tag(:span, t('.only_incomplete'), class: "a-menu"), {action: :index, todo_list_cond: :incomplete}%>
  <%= "(#{@size_incomplete})" %>&nbsp;&nbsp;
<%= link_to content_tag(:span, '', class: "ui-icon ui-icon-check") + content_tag(:span, t('.only_complete'), class: "a-menu"), {action: :index, todo_list_cond: :complete} %>
  <%= "(#{@size_complete})" %>

<ul data-role="listview">
  <% @todos.each do |todo| %>
   <li><%= link_to todo.title, todo %></li>
  <% end %>
</ul>

</div>