<div data-role="header" id="header">
  <h1 id="pageTitle" class><%= t('.todo') %></h1>
  <%= link_to 'Back', todos_path, class: 'ui-btn-left', data: {role: :button, icon: 'arrow-l',transition: :slide, direction: :reverse} %>
  <%= link_to I18n.t('.edit'), edit_todo_path(@todo), class: 'ui-btn-right' %>
</div>

<p>
  <b><%= t('.title') %>:</b>
  <%= @todo.title %>
</p>

<p>
  <b><%= t('.description') %>:</b>
  <%= @todo.description %>
</p>

<p>
  <b><%= t('.limit_on') %>:</b>
  <%= @todo.limit_on %>
</p>

<p>
  <b><%= t('.done') %>:</b>
  <% if @todo.done == true %>
  <a data-icon="check" data-iconpos="notext" data-role="button" data-inline="true" >done!</a>
  <% end %>
</p>

